<div class="flex">
    <div class="m-auto">
        <mat-card>
            <mat-card-title>
                <h1>Login Here</h1>
            </mat-card-title>
            <!-- <mat-card-subtitle>
                Enter Your Email and Password to Login
            </mat-card-subtitle> -->
           
            <mat-card-content>
                <form action="">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Ex. pat@example.com" required>
                    </mat-form-field>
                    <!-- <mat-divider></mat-divider> -->
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput required>
                    </mat-form-field>
                    <mat-divider></mat-divider>
              
                <mat-card-actions>
                    <button type="submit" mat-raised-button color="accent" (click)="login()">
                        <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
                        <span *ngIf="!isLoading">Login</span>
                        </button>
                    
                </mat-card-actions>
            </form>
            </mat-card-content>
       
        </mat-card>
       
    </div>

</div>


